main {
    height: auto;
    min-height: 75vh;
}

.admin-panel {
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    font-size: clamp(20px, 2vw, 32px);
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: clamp(12px, 1vw, 17px);
    text-align: left;
}

.admin-table th, .admin-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.admin-table th {
    background-color: darkgray;
    color: black;
}

.admin-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-table tr:hover {
    background-color: #ddd;
}

.view-btn, .edit-btn, .delete-btn {
    margin: 5px;
    padding: 8px 12px;
    font-size: clamp(10px, 1vw, 17px);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.view-btn {
    background-color: #2196F3;
    color: white;
    border: none;
}

.edit-btn {
    background-color: #FFEB3B;
    border: none;
}

.delete-btn {
    background-color: #F44336;
    color: white;
    border: none;
}

.view-btn:hover {
    transform: scale(1.1);
    background-color: deepskyblue;
}

.edit-btn:hover {
    transform: scale(1.1);
    background-color: gold;
}

.delete-btn:hover {
    transform: scale(1.1);
    background-color: #ff4b5c;
}

@media (max-width: 435px) {
    main {
        min-height: 81vh;
    }

    .admin-table th {
        padding: 4px;
    }
}