* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html, body {
    height: 100%;
    font-family: "Berlin Sans FB", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    padding: 14px;
    text-align: center;
    background-color: black;
    color: aliceblue;

}

main {
    display: flex;
    flex: 1;
}

#sidebar {
    padding: 16px;
    float: left;
    flex: 1;
    height: 100%;
    border-right: 3px solid black;
    background-color: #333333;
}

#sidebar a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 10px 20px;
    background-color: deepskyblue;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#sidebar a:hover {
    color: white;
}

#content {
    padding: 16px;
    float:right;
    flex: 5;
    height: 100%;
    border-left: 3px solid black;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    gap: 50px;
}

.grid img {
    display: inline-block;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.6);
}

.grid img:hover {
    width: 60%;
    height: auto;
}

footer {
    padding: 30px;
    text-align: center;
    color: aliceblue;
    background-color: black;
}

footer p {
    display: inline-block;

}

.logo-link {
    display: block;
    width: 237px;
    height: 40px;
}

.mobileHeader {
    padding: 16px 8px 16px 16px;
    display: -moz-box;
    display: flex;
}

.logo {
    max-height: 150%;
    max-width: 100%;
    height: 50px;
    width: 250px;
}

.mobileHeader-action {
    background: 0 0;
    border: none;
    padding: 8px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin: 0 0 0 8px;
    position: absolute;
    right: 15px;
}
