* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    height: 100%;
    font-family: "Berlin Sans FB", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    padding: 25px;
    text-align: center;
    background-color: black;
}

main {
    display: flex;
    flex: 1;
}

#sidebar {
    padding: 16px;
    float: left;
    flex: 1;
    height: 100%;
    border-right: 3px solid black;
    background-color: #333333;
}

#sidebar a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 10px 20px;
    background-color: deepskyblue;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#content {
    padding: 16px;
    float: right;
    flex: 5;
    height: 100%;
    border-left: 3px solid black;
}



footer {
    padding: 30px;
    text-align: center;
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.logo-link {
    display: block;
    width: 237px;
    height: 40px;
}

.mobileHeader {
    padding: 16px 8px 16px 16px;
    display: flex;
}

.logo {
    max-height: 170%;
    max-width: 170%;

}


