html,body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    padding: 2vh;
    background-color: black;

}

main {
    min-height: auto;
}

#about-us {
    height: 90vh;
    padding-top: 50px;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;

}

#description {
    flex: 1;
}

#description h2 {
    font-size: 24px;
    color: dimgray;
    margin-bottom: 8px;
}

#description h1 {
    color: mediumblue;
    font-size: 56px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
}

#description p {
    margin-top: 20px;
    font-size: 28px;
    line-height: 1.6;
}

.red-button {
    display: inline-block;
    background-color: #e60d2e;
    border: none;
    border-radius: 15px;
    width: 50%;
    height: 8%;
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin-top: 18px;
    cursor: pointer;
}

#map {
    display: flex;
    justify-content: center;
}

#map img {
    align-self: center;
}

.logo-link {
    display: block;
    width: 237px;
    height: 40px;
    align-items: center;
}

.logo {
    max-height: 100%;
    max-width: 100%;

}

.mobileHeader {
    padding: 13px 6px 13px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    display: block;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    height: 100%;
    width: 50px;
    box-sizing: border-box;
}

footer {
    padding: 2vh;
    color: aliceblue;
    background-color: black;
}

.footer-title {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.icon-link:hover {
    color: #ddd;
}

.footer .copyright {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
}
